.App {
  height: 100vh;
  width: 100vw;
  transition: 0.5s all;
  display: flex;
  align-items: center;
  justify-content: center;

  & .testItem {
      height: 100px;
      width: 100px;
      background-color: red;
      margin-bottom: 20px;
    }
}
